/*头部右侧背景色 headerRightBg */
.layui-layout-admin .layui-header {
    background-color: #ffffff !important;
}

/*头部右侧选中背景色 headerRightBgThis */
.layui-layout-admin .layui-header .layuimini-header-content>ul>.layui-nav-item.layui-this,
.layuimini-tool i:hover {
    background-color: #e4e4e4 !important;
}

/*头部右侧字体颜色 headerRightColor */
.layui-layout-admin .layui-header .layui-nav .layui-nav-item a {
    color: rgba(0, 0, 0, 0.7);
}

/**头部右侧下拉字体颜色 headerRightChildColor */
.layui-layout-admin .layui-header .layui-nav .layui-nav-item .layui-nav-child a {
    color: rgba(0, 0, 0, 0.7) !important;
}

/*头部右侧鼠标选中 headerRightColorThis */
.layui-header .layuimini-menu-header-pc.layui-nav .layui-nav-item a:hover,
.layui-header .layuimini-header-menu.layuimini-pc-show.layui-nav .layui-this a {
    color: #565656 !important;
}

/*头部右侧更多下拉颜色 headerRightNavMore */
.layui-header .layui-nav .layui-nav-more {
    border-top-color: rgba(160, 160, 160, 0.7) !important;
}

/*头部右侧更多下拉颜色 headerRightNavMore */
.layui-header .layui-nav .layui-nav-mored,
.layui-header .layui-nav-itemed>a .layui-nav-more {
    border-color: transparent transparent rgba(160, 160, 160, 0.7) !important;
}

/**头部右侧更多下拉配置色 headerRightNavMoreBg headerRightNavMoreColor */
.layui-header .layui-nav .layui-nav-child dd.layui-this a,
.layui-header .layui-nav-child dd.layui-this,
.layui-layout-admin .layui-header .layui-nav .layui-nav-item .layui-nav-child .layui-this a {
    background-color: #1E9FFF !important;
    color: #ffffff !important;
}

/*头部缩放按钮样式 headerRightToolColor */
.layui-layout-admin .layui-header .layuimini-tool i {
    color: #565656;
}

/*logo背景颜色 headerLogoBg */
.layui-layout-admin .layuimini-logo {
    background-color: #192027 !important;
}

/*logo字体颜色 headerLogoColor */
.layui-layout-admin .layuimini-logo h1 {
    color: rgb(191, 187, 187);
}

/*左侧菜单更多下拉样式 leftMenuNavMore */
.layuimini-menu-left .layui-nav .layui-nav-more,
.layuimini-menu-left-zoom.layui-nav .layui-nav-more {
    border-top-color: rgb(191, 187, 187);
}

/*左侧菜单更多下拉样式 leftMenuNavMore */
.layuimini-menu-left .layui-nav .layui-nav-mored,
.layuimini-menu-left .layui-nav-itemed>a .layui-nav-more,
.layuimini-menu-left-zoom.layui-nav .layui-nav-mored,
.layuimini-menu-left-zoom.layui-nav-itemed>a .layui-nav-more {
    border-color: transparent transparent rgb(191, 187, 187) !important;
}


/*左侧菜单选中背景 leftMenuBgThis */
.layuimini-menu-left .layui-nav-tree .layui-this,
.layuimini-menu-left .layui-nav-tree .layui-this>a,
.layuimini-menu-left .layui-nav-tree .layui-nav-child dd.layui-this,
.layuimini-menu-left .layui-nav-tree .layui-nav-child dd.layui-this a,
.layuimini-menu-left-zoom.layui-nav-tree .layui-this,
.layuimini-menu-left-zoom.layui-nav-tree .layui-this>a,
.layuimini-menu-left-zoom.layui-nav-tree .layui-nav-child dd.layui-this,
.layuimini-menu-left-zoom.layui-nav-tree .layui-nav-child dd.layui-this a {
    background-color: #1E9FFF !important
}

/*左侧菜单子菜单背景 leftMenuChildBg */
.layuimini-menu-left .layui-nav-itemed>.layui-nav-child {
    background-color: #0c0f13 !important;
}

/*左侧菜单字体颜色 leftMenuColor */
.layuimini-menu-left .layui-nav .layui-nav-item a,
.layuimini-menu-left-zoom.layui-nav .layui-nav-item a {
    color: rgb(191, 187, 187) !important;
}

/*左侧菜单选中字体颜色 leftMenuColorThis */
.layuimini-menu-left .layui-nav .layui-nav-item a:hover,
.layuimini-menu-left .layui-nav .layui-this a,
.layuimini-menu-left-zoom.layui-nav .layui-nav-item a:hover,
.layuimini-menu-left-zoom.layui-nav .layui-this a {
    color: #ffffff !important;
}

/**tab选项卡选中颜色 tabActiveColor */
.layuimini-tab .layui-tab-title .layui-this .layuimini-tab-active {
    background-color: #1e9fff;
}

/** 全局主体 **/
.layui-body {
    position: absolute;
    top: 90px;
}

.layui-body .lay-tabsbody-item {
    width: 100%;
    height: 100%;
    display: none;
}

.layui-body .lay-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/** 页面标签 **/
.lay-pagetabs {
    position: fixed;
    top: 50px;
    left: 110px;
    right: 0;
    z-index: 999;
}

.lay-pagetabs {
    height: 40px;
    line-height: 40px;
    padding: 0 80px 0 40px;
    /*border-bottom: 2px solid #292B34;*/
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.lay-pagetabs .lay-tabs-control {
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
    border-left: 1px solid #f6f6f6;
}

.lay-pagetabs .lay-tabs-control:hover {
    background-color: #f6f6f6;
}

.lay-pagetabs .layui-icon-prev {
    left: 0;
    border-left: none;
    border-right: 1px solid #f6f6f6;
}

.lay-pagetabs .layui-icon-next {
    right: 40px;
}

.lay-pagetabs .layui-icon-down {
    right: 0;
}

.lay-tabs-select.layui-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
}

.lay-tabs-select.layui-nav .layui-nav-item {
    line-height: 40px;
}

.lay-tabs-select.layui-nav .layui-nav-item>a {
    height: 40px;
}

.lay-tabs-select.layui-nav .layui-nav-item a {
    color: #666;
}

.lay-tabs-select.layui-nav .layui-nav-child {
    top: 40px;
    left: auto;
    right: 0;
}

.lay-tabs-select.layui-nav .layui-nav-child dd.layui-this,
.lay-tabs-select.layui-nav .layui-nav-child dd.layui-this a {
    background-color: #f2f2f2 !important;
    color: #333;
}

.lay-tabs-select.layui-nav .layui-nav-more,
.lay-tabs-select.layui-nav .layui-nav-bar {
    display: none;
}

.lay-pagetabs .layui-tab {
    margin: 0;
    overflow: hidden;
}

.lay-pagetabs .layui-tab-title {
    height: 40px;
    border: none;
}

.lay-pagetabs .layui-tab-title li {
    min-width: 0;
    line-height: 40px;
    max-width: 160px;
    text-overflow: ellipsis;
    padding-right: 40px;
    overflow: hidden;
    border-right: 1px solid #f6f6f6;
    vertical-align: top;
}

.lay-pagetabs .layui-tab-title li:first-child {
    padding-right: 15px;
}

.lay-pagetabs .layui-tab-title li:first-child .layui-tab-close {
    display: none;
}

.lay-pagetabs .layui-tab-title li .layui-tab-close {
    position: absolute;
    right: 8px;
    top: 50%;
    margin: -7px 0 0 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    font-size: 12px;
}

.lay-pagetabs .layui-tab-title li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 0;
    background-color: #EBF4FF;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.lay-pagetabs .layui-tab-title li:hover:after {
    width: 100%;
}