body {
    margin: 15px 15px 15px 15px;
    background: #f2f2f2;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

th .layui-table-cell {
    font-size: 12px !important;
}

.layui-table td,
.layui-table th {
    font-size: 12px !important;
}

.table-search-fieldset {
    font-size: 12px;
}


/**必填红点 */
.layuimini-form>.layui-form-item>.required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form>.layui-form-item>.layui-form-label {
    width: 120px !important;
}

.layuimini-form>.layui-form-item>.layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form>.layui-form-item>.layui-input-block>tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid #e6e6e6;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1E9FFF;
}

.layui-laypage a:hover {
    color: #1E9FFF;
}

.upload-image-div {
    height: 80px;
    width: 80px;
    float: left;
    opacity: 1;
    position: relative;
    border: 1px dashed #a0a0a0;
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-position: 50% 35%;
    margin: 4px;
    text-align: center;
}


.img-src {
    width: 80px;
    height: 80px;
    padding: 4px;
}

.img-content {
    height: 80px;
    width: 80px;
    position: relative;
    line-height: 80px;
}

.img-del-x {
    position: absolute;
    z-index: 100;
    top: -4px;
    right: -20px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: hsla(0, 0%, 60%, .6);
    border-radius: 10px;
    text-decoration: none;
}

.upload-image-a {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 58px;
    right: -10%;
    width: 100px;
    height: 20px;
    font-size: 8px;
    line-height: 16px;
    text-align: center;
    border-radius: 10px;
    color: #4e8bff;
}

#content {
    border: none;
}